{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vincheck/css/глав_поисковик.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;600;700&family=Roboto&family=Rubik:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header_container">
                <div class="header_content">
                    <a href="" class="button_login">Войти</a>
                </div>
            </div>
        </header>
        <main>
            <div class="main_containernarrow">
                <div class="main_content">
                    <div class="main_image">
                        <img src="{% static 'vincheck/images/VIN.png' %}" alt="">
                    </div>
                    <div class="main_form">
                        <form class="vin">
                            <fieldset>
                                <p><input name="VIN-код" placeholder="Укажите VIN" class="your_vin"></p>
                            </fieldset>
                            <div class="window"
                                data-tooltip="VIN-код - это уникальный код транспортного средства, состоящий из 17 знаков">
                                <input type="submit" value="?" class="first_button"></div>
                            <input type="submit" value="Проверить" class="second_button">
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer_container">
                <div class="footer_containernarrow">
                    <div class="footer_blocks">
                        <a href="" class="footer_block">
                            История технических <p>осмотров</p>
                        </a>
                        <a href="" class="footer_block">
                            Нахождение в <p>розыске</p>
                        </a>
                        <a href="" class="footer_block">
                            Залоги и <p>ограничения</p>
                        </a>
                        <a href="" class="footer_block">
                            Проверка <p>на ДТП</p>
                        </a>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <a href="" class="footer_block">
                            Сведения технических и<p>диагностических осмотров</p>
                        </a>
                        <a href="" class="footer_block">
                            Сведения о нахождение <p>автомобиля в розыске</p>
                            <p>
                                на территории РБ и РФ
                            </p>
                        </a>
                        <a href="" class="footer_block">
                            Сведения о нахождение <p>автомобиля в залоге</p>
                            <p>
                                по данным на 2022 год
                            </p>
                        </a>
                        <a href="" class="footer_block">
                            Возможность проверить<p>участие авто в</p>
                            <p>
                                ДТП
                            </p>
                        </a>
                    </div>
                </div>
                </div>
        </footer>
    </div>
</body>

</html>
